extends ../layout
block content
  form(action = `/edit/${learner.id}`, method = "POST")
    input(type = "text", name = "firstName", value=learner.firstName)
    input(type = "text", name = "lastName", value=learner.lastName)
    button(type = "submit") edit
